{% extends 'layouts/base-auth.html' %}

{% block title %}Signup{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 bg-light rounded-5 mt-5">
                <h2 class="text-center mt-4 mb-5">Create an account</h2>
                <form action="{% url 'oauth:signin' %}" method="POST">
                    {% for field in signup_form %}
                        {{ field }}
                    {% endfor %}
                    <div class="text-center mb-4">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}